$color-border: #D5D8DD;
$color-background: #FFFFFF;
$color-badge-border: #99D5FF;
$color-badge: #e5f4ff;

$color-text-common: #2E3238;
$color-text-inversed: #FFFFFF;
$color-text-neutral: #ABB1BA;
$color-text-red: #B21F00;

$color-icons: #2E3238;
$color-icons-neutral: #ABB1BA;

$color-btn-background: #FFFFFF;
$color-btn-primary: #0078CF;
$color-btn-active: #005999;
$color-input-background: #FCFCFD;

