@import './colors';

body {
  display: grid;
  grid-template-areas: 
    "header header"
    "aside main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #282c34;
  padding: 0.5rem 1rem;

  &>input {
    padding: 6px 28px 6px 8px;
    border: solid 1px $color-border;
  }
}

aside {
  grid-area: aside;
  background-color: #61dafb;
  padding: 1rem;
}

main {
  grid-area: main;
}

@media (max-width: 767px) {
  body {
    grid-template-areas: 
    "aside header"
    "main main";
  }

  aside {
    /* display: contents; */
  }

  .aside-menu {
    
  }
}