* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #2E3238;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.align-center {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #FCFCFD;
  border: solid 1px #D5D8DD;
  border-radius: 4px;
  cursor: pointer;
  transition: border ease-in 0.3s;
}
.btn:hover {
  border: solid 1px #0078CF;
}
.btn:active {
  border: solid 1px #005999;
}

.btn-text {
  padding: 6px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #2E3238;
  text-wrap: nowrap;
}

.btn-filled {
  color: #FFFFFF;
  background-color: #0078CF;
  border-color: #0078CF;
  transition: all ease-in 0.1s;
}
.btn-filled:hover {
  background-color: #004679;
  border-color: #004679;
}
.btn-filled:active {
  background-color: #0068b3;
  border-color: #0068b3;
}

.btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.btn-svg > svg {
  display: block;
  margin: 0 auto;
}
.btn-svg:hover > svg > path {
  fill: #0078CF;
  transition: fill ease-in 0.3s;
}
.btn-svg:active > svg > path {
  fill: #005999;
  transition: fill ease-in 0.3s;
}

.input {
  padding: 6px 0 6px 8px;
  border: solid 1px #D5D8DD;
  border-radius: 4px;
  outline: none;
  background-color: #FCFCFD;
  transition: border ease-in 0.3s;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #2E3238;
  line-height: 18px;
}
.input::-moz-placeholder {
  color: #ABB1BA;
}
.input::placeholder {
  color: #ABB1BA;
}
.input:focus {
  border: #0078CF 1px solid;
}

.search-input {
  padding: 6px 8px;
}
.search-input:not(:focus) {
  padding: 6px 28px 6px 8px;
}

.text-red {
  color: #B21F00;
}

.width-100 {
  width: 100%;
}

.grid {
  display: grid;
}

.badge-container {
  min-height: 32px;
  padding: 4px;
  position: relative;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  overflow: hidden;
}
.badge-container:not(:empty) {
  padding: 4px 16px 4px 4px;
}
.badge-container:not(:empty) .btn-delete {
  display: block;
}

.btn-delete {
  border: none;
  padding: 0;
  background-color: transparent;
  display: none;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
}
.btn-delete:hover {
  transition: fill ease-in 0.3s;
}
.btn-delete:hover path {
  fill: #0078CF;
}
.btn-delete:active {
  transition: fill ease-in 0.3s;
}
.btn-delete:active path {
  fill: #005999;
}

.badge {
  border: 1px solid #99D5FF;
  border-radius: 4px;
  padding: 2px 8px;
  background-color: #e5f4ff;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag {
  padding: 2px 32px 2px 8px;
  position: relative;
}

.btn-tag-delete {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4px;
  right: 8px;
}
.btn-tag-delete:hover {
  transition: fill ease-in 0.3s;
}
.btn-tag-delete:hover path {
  fill: #0078CF;
}
.btn-tag-delete:active {
  transition: fill ease-in 0.3s;
}
.btn-tag-delete:active path {
  fill: #005999;
}

.flex-start {
  display: flex;
  align-items: start;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  background-color: #FFFFFF;
}

header {
  grid-area: header;
  padding: 0.5rem 1rem;
  border: #D5D8DD solid 1px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.header__wrapper {
  margin-left: auto;
  display: inherit;
}
.header__wrapper > input {
  margin-right: 16px;
  width: 296px;
}
.header__wrapper > input:not(:focus) {
  background: url("../img/icons/SearchInput.svg") no-repeat right 8px center;
  background-color: #FCFCFD;
}
.header__wrapper .btn {
  padding: 6px;
  font-size: 0;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.user-container {
  margin-right: 8px;
}
.user-container > img {
  border-radius: 50%;
}
.user-container > .user-name {
  margin-left: 8px;
}

aside {
  grid-area: aside;
  background-color: #FFFFFF;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #D5D8DD;
  height: auto;
}
aside > button {
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
  font-size: 0;
}
aside > button:hover {
  transition: border ease-in 0.3s;
}

main {
  grid-area: main;
  display: flex;
}

@media (max-width: 767px) {
  body {
    grid-template-areas: "aside header" "main main";
  }
  header {
    border-left: none;
  }
  header > svg {
    display: none;
  }
  header input {
    display: none;
  }
  .user-container > img {
    width: 24px;
    height: 24px;
  }
  .user-name {
    display: none;
  }
  aside {
    border-right: none;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
  }
  aside > .btn-svg:nth-child(2) {
    display: none;
  }
}
#toggle.active path {
  fill: #005999;
}

.main__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 0;
  overflow: hidden;
  transition: width ease-in 0.2s;
  width: 280px;
}
.main__menu.inactive {
  width: 0;
}

.main__menu-search {
  border: 1px solid #D5D8DD;
  padding: 1rem;
  justify-content: space-between;
}
.main__menu-search > input {
  width: 208px;
}
.main__menu-search > input:not(:focus) {
  background: url("../img/icons/Filter.svg") no-repeat right 8px center;
  background-color: #FCFCFD;
}

.main__menu-list {
  list-style: none;
  border: 1px solid #D5D8DD;
  height: 100%;
  padding: 0 16px;
  text-wrap: nowrap;
}
.main__menu-list > li {
  font-size: 14px;
  line-height: 143%;
  padding: 10px 0;
  cursor: pointer;
  transition: color ease-in 0.1s;
}
.main__menu-list > li:hover {
  color: #0078CF;
}
.main__menu-list > li:hover path {
  fill: #0078CF;
}
.main__menu-list > li:active {
  color: #005999;
}
.main__menu-list > li:active path {
  fill: #005999;
}
.main__menu-list > li > div {
  margin-left: 8px;
}

.main__container {
  width: 100%;
  border-top: 1px solid #D5D8DD;
}

.main__task-panel {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid transparent;
  position: sticky;
  z-index: 10;
  background-color: #FFFFFF;
}
.main__task-panel h3 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-right: 1rem;
}
.main__task-panel .btn-filled {
  margin-right: 8px;
}
.main__task-panel .save-wrapper {
  margin-left: auto;
}

.main__content-container {
  padding: 0 1rem 1rem;
  border-top: solid 1px transparent;
  gap: 16px;
}
.main__content-container > h2 {
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: start;
}

.main__grid-container {
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.grid .input {
  margin-top: 8px;
}
.grid .input + .btn {
  margin: 8px 0 0 4px;
}
.grid .input + .btn + .btn {
  margin: 8px 0 0 4px;
}

.grid-elem-wrapper {
  overflow: hidden;
}

.btn.plus {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

@media (max-width: 990px) {
  .main__grid-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .save-wrapper {
    display: none;
  }
  .create-container {
    width: 100%;
  }
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(11, 12, 14, 0.4);
}
.modal > .modal__content {
  padding: 0px 0px 16px 0px;
  border-radius: 4px;
  max-width: 800px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.modal .main__grid-container {
  grid-template-columns: 1fr;
}

body:has(.modal__active) {
  overflow-y: hidden;
}

.modal__active {
  z-index: 100;
  display: flex;
  justify-content: center;
  height: 100%;
}

.mobile_buttons {
  display: none;
}

.mobile-cancel {
  display: none;
}

@media (max-width: 767px) {
  .mobile_buttons {
    display: block;
    width: 100%;
  }
  .mobile_buttons button {
    width: 100%;
  }
  .mobile_buttons button + button {
    margin-top: 16px;
  }
  .mobile-cancel {
    display: block;
    width: 32px;
    height: 32px;
  }
}/*# sourceMappingURL=index.css.map */